<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] | Frenetic LLC</title>
    <link rel="stylesheet" href="/css/FreneticLLCWebsite.min.css?vary=1" />
    <meta charset="UTF-8">
    <meta name="description" content="Frenetic LLC official website." />
</head>
<body>
    <!--
    <div class="sidebar">
        <div class="sidebar_portion">Helpful Links:</div>
        <div class="sidebar_portion"><a href="/Home/About"><span class="sidebar_text">About Frenetic LLC</span></a></div>
        <div class="sidebar_portion"><a href="https://github.com/FreneticLLC"><img class="sidebar_img" title="Github" alt="Github" src="/images/header/github.png" /><span class="sidebar_text">Github</span></a></div>
        <div class="sidebar_portion"><a href="https://discord.gg/NezPEmd"><img class="sidebar_img" title="Discord" alt="Discord" src="/images/header/discord.png" /><span class="sidebar_text">Discord</span></a></div>
        <div class="sidebar_portion"><a href="https://twitter.com/FreneticLLC"><img class="sidebar_img" title="Twitter" alt="Twitter" src="/images/header/twitter.png" /><span class="sidebar_text">Twitter</span></a></div>
    </div>
    -->
    <div class="mainbody">
        @RenderBody()
        <hr>
        Copyright (C) Frenetic LLC 2017, All Rights Reserved.
        <br><a href="/"><img class="bottombar_img" title="Frenetic LLC" alt="Frenetic LLC" src="/images/header/freneticllc.png" /></a>
        | <a href="https://github.com/FreneticLLC"><img class="bottombar_img" title="Github" alt="Github" src="/images/header/github.png" /></a>
        | <a href="https://discord.gg/NezPEmd"><img class="bottombar_img" title="Discord" alt="Discord" src="/images/header/discord.png" /></a>
        | <a href="https://twitter.com/FreneticLLC"><img class="bottombar_img" title="Twitter" alt="Twitter" src="/images/header/twitter.png" /></a>
    </div>
    <!-- Has to be last, for dumb reasons -->
    <div class="header">
        <div class="block"><a href="/"><img src="/images/header/freneticllc.png" height="100px" /><br>Frenetic LLC</a></div>
        <div class="block">| <a href="https://github.com/FreneticLLC"><img class="bottombar_img" title="Github" alt="Github" src="/images/header/github.png" /></a></div>
        <div class="block">| <a href="https://discord.gg/NezPEmd"><img class="bottombar_img" title="Discord" alt="Discord" src="/images/header/discord.png" /></a></div>
        <div class="block">| <a href="https://twitter.com/FreneticLLC"><img class="bottombar_img" title="Twitter" alt="Twitter" src="/images/header/twitter.png" /></a></div>
    </div>
</body>
</html>
