<!DOCTYPE html>
<html>
    @{ Html.RenderPartialAsync("Layout_TopCommon").Wait(); }
    <body>
    <header style="opacity:1;z-index: 100;">
        <h2 style="margin-right:auto; margin-left:64px;"><a class="blacklink" href="/"><img src="/images/header/freneticllc.png" width="32" height="32" />Frenetic LLC</a></h2>
        <a class='navbutton' href="/#about">About Us</a>
        <a class='navbutton' href="/Home/Contact">Contact Us</a>
        <a class='navbutton' href="/Home/BusinessLog">Business Log</a>
        <a class='navbutton' href="/Home/Policy">Privacy Policy</a>
    </header>
    <section class="section-main whitebg" id="section2">
        <div class="contentwrapper" style="margin:160px 0px;">
            @RenderBody()
        </div>
    </section>
    @{ Html.RenderPartialAsync("Layout_BottomCommon").Wait(); }
    </body>
</html>
