@{ Html.RenderPartial("Layout_TopCommon"); }
<section class="section-main whitebg" id="section2">
<div class="contentwrapper" style="margin:160px 0px;">
@RenderBody()
</div>
</section>
@{ Html.RenderPartial("Layout_BottomCommon"); }
