@{
    ViewData["Title"] = "Giggle/Expo";
    ViewData["Description"] = "Experimentation page.";
}

<section class="section-main whitebg" id="section2">
<div class="contentwrapper">
Page currently empty!
</div>
</section>
