@{
    ViewData["Title"] = "Business Log";
}

Frenetic LLC maintains the majority of its actions under public record, and as such is provided below:
<br>
<table>
    <tr><th>Date</th><th>Category</th><th>Action</th></tr>
    <tr><td>2017 Feb 02</td><td>Filings</td><td>Frenetic LLC registration accepted by the Secretary of State of California. Filed under LLC-1 (Articles of Organization).</td></tr>
    <tr><td>2017 Feb 21</td><td>Contracts</td><td>$700 "good faith" payment to Anthony Campellone in preparation of a formal work contract.</td></tr>
</table>
