@{
    ViewData["Title"] = "Business Log";
    ViewData["Description"] = "Business Log: A log of our business activity.";
}

Frenetic LLC maintains the majority of its actions under public record, and as such is provided below:
<br>
<table>
    <tr><th>Date</th><th>Category</th><th>Action</th></tr>
    <tr><td>2017 Feb 02</td><td>Filings</td><td>Frenetic LLC registration accepted by the Secretary of State of California. Filed under LLC-1 (Articles of Organization).</td></tr>
    <tr><td>2017 Feb 02</td><td>Ownership</td><td>Alex Goodwin joins as a member and CEO (Chief Executive Officer).</td></tr>
    <tr><td>2017 Feb 26</td><td>Contracts</td><td>Anthony Campellone has signed a mid-length contract to do work for Frenetic LLC.</td></tr>
    <tr><td>2017 Mar 16</td><td>Ownership</td><td>Connor Branan joins as a member and COO (Chief Operating Officer).</td></tr>
    <tr><td>2017 May 16</td><td>Documents</td><td>Standards and Operating Procedures document prepared - view it <a href="/Home/SOPS">here</a>!</td></tr>
    <tr><td>2017 Sep 08</td><td>Ownership</td><td>Zachary Brooks joins as a member and CCO (Chief Creative Officer).</td></tr>
</table>
<br>Note that at this time, specific financial details are being kept under a more private record.
