@{
    ViewData["Title"] = "Business Log";
}

Frenetic LLC maintains the majority of its actions under public record, and as such is provided below:
<br>
<table>
    <tr><th>Date</th><th>Category</th><th>Action</th></tr>
    <tr><td>2017 Feb 02</td><td>Filings</td><td>Frenetic LLC registration accepted by the Secretary of State of California. Filed under LLC-1 (Articles of Organization).</td></tr>
    <tr><td>2017 Feb 20</td><td>Investments</td><td>Alex Goodwin invests $1630 towards company funding.</td></tr>
    <tr><td>2017 Feb 21</td><td>Payments</td><td>$700 "good faith" payment to Anthony Campellone in preparation of a formal work contract.</td></tr>
    <tr><td>2017 Feb 26</td><td>Contracts</td><td>Anthony Campellone has signed a four-month contract to do work for Frenetic LLC, with a payment of $3,000.</td></tr>
    <tr><td>2017 Feb 26</td><td>Payments</td><td>$930 payment to Anthony Campellone as per contract. ($1630/$3000 paid so far).</td></tr>
    <tr><td>2017 Mar 19</td><td>Investments</td><td>Alex Goodwin invests $300 towards company funding.</td></tr>
    <tr><td>2017 Mar 19</td><td>Payments</td><td>$300 payment to Anthony Campellone as per contract. ($1930/$3000 paid so far).</td></tr>
</table>
