@{
    ViewData["Title"] = "Business Log";
}

<section class="section-main whitebg" id="section2">
<div class="contentwrapper">
Frenetic LLC maintains the majority of its actions under public record, and as such is provided below:
<br>
<table>
    <tr><th>Date</th><th>Category</th><th>Action</th></tr>
    <tr><td>2017 Feb 02</td><td>Filings</td><td>Frenetic LLC registration accepted by the Secretary of State of California. Filed under LLC-1 (Articles of Organization).</td></tr>
    <tr><td>2017 Feb 02</td><td>Ownership</td><td>Alex Goodwin joins as a member and CEO.</td></tr>
    <tr><td>2017 Feb 20</td><td>Investments</td><td>Alex Goodwin invests $1630 towards company funding ($1630/$1630).</td></tr>
    <tr><td>2017 Feb 21</td><td>Payments</td><td>$700 "good faith" payment to Anthony Campellone in preparation of a formal work contract.</td></tr>
    <tr><td>2017 Feb 26</td><td>Contracts</td><td>Anthony Campellone has signed a four-month contract to do work for Frenetic LLC, with a payment of $3,000.</td></tr>
    <tr><td>2017 Feb 26</td><td>Payments</td><td>$930 payment to Anthony Campellone as per contract. ($1630/$3000 paid so far).</td></tr>
    <tr><td>2017 Mar 16</td><td>Ownership</td><td>Connor Branan joins as a member and COO.</td></tr>
    <tr><td>2017 Mar 19</td><td>Investments</td><td>Alex Goodwin invests $300 towards company funding ($1930/$1930).</td></tr>
    <tr><td>2017 Mar 19</td><td>Payments</td><td>$300 payment to Anthony Campellone as per contract. ($1930/$3000 paid so far).</td></tr>
    <tr><td>2017 Apr 01</td><td>Investments</td><td>Alex Goodwin invests $700 towards company funding ($2630/$2630).</td></tr>
    <tr><td>2017 Apr 01</td><td>Payments</td><td>$700 payment to Anthony Campellone as per contract. ($2630/$3000 paid so far).</td></tr>
    <tr><td>2017 Apr 07</td><td>Investments</td><td>Alex Goodwin invests $200 towards company funding ($2830/$2830).</td></tr>
    <tr><td>2017 Apr 07</td><td>Payments</td><td>$200 payment to Anthony Campellone as per contract. ($2830/$3000 paid so far).</td></tr>
    <tr><td>2017 Apr 13</td><td>Investments</td><td>Alex Goodwin invests $170 towards company funding ($3000/$3000).</td></tr>
    <tr><td>2017 Apr 13</td><td>Payments</td><td>$170 payment to Anthony Campellone as per contract. ($3000/$3000 paid, Frenetic LLC's side of the contract is complete).</td></tr>
    <tr><td>2017 Apr 14</td><td>Filings</td><td>Frenetic LLC now has a small business bank account, provided by Bank of America.</td></tr>
    <tr><td>2017 Apr 14</td><td>Investments</td><td>Alex Goodwin invests $75 towards company funding ($3075/$3075).</td></tr>
</table>
</div>
</section>
