@{
    ViewData["Title"] = "Contact Us!";
}

<section class="section-main whitebg" id="section2">
<div class="contentwrapper">
Connect to our <a href="https://discord.gg/NezPEmd">Discord<img src="/images/index/icon-discord.png" height="25px" /></a> for most forms of quick and friendly contact!
<br>If you have trouble connecting to our Discord group, feel free to send an email to: team@freneticllc.com
</div>
</section>
