@{
    ViewData["Title"] = "Contact Us";
    ViewData["Description"] = "Contact Us: How to get in touch.";
}

<section class="section-main whitebg" id="section2">
<div class="contentwrapper" style="margin:160px 0px;">
Connect to our <a class="largelink" href="https://discord.gg/NezPEmd">Discord<img src="/images/index/icon-discord.png" height="25px" /></a> for most forms of quick and friendly contact!
<br>
<br>If you have trouble connecting to our Discord group, feel free to send an email to: <code>team@freneticllc.com</code>
</div>
</section>
