@{
    ViewData["Title"] = "Internal Error";
    ViewData["Description"] = "Internal error: Systems malfunction.";
}

<section class="section-main whitebg" id="section2">
<div class="contentwrapper">
Sorry, it appears something went horrendously wrong on the inside.
<br>Please <a href="/Home/Contact">tell us about this</a>!
</div>
</section>
