@{
    ViewData["Title"] = "Error 404: Page Not Found";
}

<section class="section-main whitebg" id="section2">
<div class="contentwrapper">
Sorry, we can't find that page!
<br>If you believe this is in error, please <a href="/Home/Contact">Contact Us</a>!
</div>
</section>
