@{
    ViewData["Title"] = "Main Page";
}

<div class="half_a" style="top: 0px; font-size: 70px; background-color: #CCFFCC;">
Welcome to the Frenetic LLC website.
<br>
<br>This website is under-development!
</div>
<img class="half_b" style="top: 0px" src="/images/header/freneticllc.png" />
<img class="half_a" style="top: 500px" src="/images/header/california.png" />
<div class="half_b" style="top: 500px; font-size: 35px; background-color: #66AA66;">
Frenetic LLC is a California registered Limited Liability Company.
<br>
<br>The Frenetic team, however, is spread across the world!
</div>
<div class="half_a" style="top: 1000px; font-size: 70px; background-color: #338833;">
Our CEO (Chief Executive Officer), founder, and general leader is Alex "mcmonkey" Goodwin.
<br>
</div>
<img class="half_b" style="top: 1000px" src="/images/members/alex_goodwin.png" />
<img class="half_a" style="top: 1500px" src="/images/home/fs_code.png" />
<div class="half_b" style="top: 1500px; font-size: 35px; background-color: #117711;">
Frenetic LLC is a team proudly capable of delivering advanced and powerful software solutions, in particular those related to video game development.
</div>
<div class="spacer" style="height: 2025px">&nbsp;</div>
