@{
    ViewData["Title"] = "Home";
}

<section class="landingpage" id="top">
	<div class="lp-mainbox">
		<h1>Frenetic LLC</h1>
	</div>
	<div class="lp-socialbox">
		<a href="https://twitter.com/FreneticLLC" class="c-link c-link--twitter c-tooltip" aria-label="Twitter">
			<div class="c-icon" style="background-image:url('/images/index/icon-twitter.png'); height:32px;"></div>
		</a>
		<a href="https://github.com/FreneticLLC" class="c-link c-link--twitter c-tooltip" aria-label="GitHub">
			<div class="c-icon" style="background-image:url('/images/index/icon-github.png'); height:37px;"></div>
		</a>
		<a href="https://discord.gg/NezPEmd" class="c-link c-link--twitter c-tooltip" aria-label="Discord">
			<div class="c-icon" style="background-image:url('/images/index/icon-discord.png'); height:42px;"></div>
		</a>
	</div>
</section>
<section class="section-main paralaxbg" id="section2" style="background-image:url('/images/index/background-image-darker.png');"><!-- three columns, paralax background (paralaxbg) -->
<a id="about"></a>
<div class="contentwrapper">
	<h1 style="text-align:center">About Frenetic LLC</h1>
</div>
<div class="contentwrapper-2c">
	<div class="twocolumn">
		<h2>We Make Games</h2>
		<p>
			We're working on a set of interesting video game concepts. Follow us at the links above to see hints about those as they become available!
			Our primary current title is <b>Voxalia</b>. News for that is posted in the Discord news channel.
			A few minor titles are more quietly also in the works.
		</p>
	</div>
	<div class="twocolumn">
		<h2>We Make Software</h2>
		<p>
			We're working on high quality modern style software in general as well! Everything from script engines to data formatting systems.
			It may not sound impressive to the average person, but pieces of software like what we build go together to create amazing applications and video games, like those mentioned to the left.
		</p>
	</div>
</div>	
</section>
<section class="section-main whitebg"><!-- two columns -->
<div class="contentwrapper">
	<h1 style="text-align:center">Our Team</h1>
	<h2 style="text-align:center">The skilled group that makes things happen!</h2>
</div>
<div class="contentwrapper-3c">
	<div class="threecolumn">
		<h2>Alex "mcmonkey" Goodwin</h2>
		<p>The founder, leader, visionary, CEO, and whatever else he needs to be.
			The leader isn't a meaningless figurehead: Alex does more work than anyone else!
			He even writes the majority of the code we use!
			He also heads up the design and planning of all our projects.
		</p>
		<a class="largelink" href="https://twitter.com/mcmonkey4eva">Twitter<img src="/images/index/icon-twitter.png" height="25px" /></a>, <a class="largelink" href="https://github.com/mcmonkey4eva">Github<img src="/images/index/icon-github.png" height="25px" /></a>
	</div>
	<div class="threecolumn">
		<h2>Connor Branan AKA Morphan1</h2>
		<p>Connor helps a lot too! He as the COO is tasked with a lot of hard work.
			He runs and designs some projects, as well as coding for them!
		</p>
		<a class="largelink" href="https://github.com/Morphan1">Github<img src="/images/index/icon-github.png" height="25px" /></a>
	</div>
	<div class="threecolumn">
		<h2>The non-leading team members</h2>
		<p>We have a variety of team members that help from non-leading roles as well!
			Connect to our <a class="largelink" href="https://discord.gg/NezPEmd">Discord<img src="/images/index/icon-discord.png" height="25px" /></a> group to learn more about them and all the great work they do, as well as speak with them!
		</p>
	</div>
</div>
<div class="contentwrapper">
	<h2 style="text-align:center">We would have gotten nowhere without the team we have!</h2>
</div>
</section>
