@{
    ViewData["Title"] = "Home";
}

<section class="landingpage" id="top">
	<div class="lp-mainbox">
		<h1>Frenetic LLC</h1>
	</div>
	<div class="lp-socialbox">
		<a href="https://twitter.com/FreneticLLC" class="c-link c-link--twitter c-tooltip" aria-label="Twitter">
			<div class="c-icon" style="background-image:url('/images/index/icon-twitter2.png'); height:32px;"></div>
		</a>
		<a href="https://github.com/FreneticLLC" class="c-link c-link--twitter c-tooltip" aria-label="GitHub">
			<div class="c-icon" style="background-image:url('/images/index/icon-github.png'); height:37px;"></div>
		</a>
		<a href="https://discord.gg/NezPEmd" class="c-link c-link--twitter c-tooltip" aria-label="Discord">
			<div class="c-icon" style="background-image:url('/images/index/icon-discord.png'); height:42px;"></div>
		</a>
	</div>
</section>
<section class="section-main whitebg" id="section2"><!-- two columns -->
<div class="contentwrapper">
	<h1 style="text-align:center">News or whatever</h1>
</div>
<div class="contentwrapper-2c">
	<div class="twocolumn">
		<h2>Sample header 1</h2>
		<p>I know words. I have the best words. You have so many different things placeholder text has to be able to do, and I don't believe Lorem Ipsum has the stamina. I have a 10 year old son. He has words. He is so good with these words it's unbelievable. He’s not a word hero. He’s a word hero because he was captured. I like text that wasn’t captured.</p>
		<a class="largelink">Read more...</a>
	</div>
	<div class="twocolumn">
		<h2>Sample header 2</h2>
		<p>Look at that text! Would anyone use that? Can you imagine that, the text of your next webpage?! I will write some great placeholder text – and nobody writes better placeholder text than me, believe me – and I’ll write it very inexpensively. I will write some great, great text on your website’s Southern border, and I will make Google pay for that text. Mark my words. He’s not a word hero. He’s a word hero because he was captured. I like text that wasn’t captured.</p>
		<a class="largelink">Read more...</a>
	</div>
</div>	
</section>
<section class="section-main paralaxbg" style="background-image:url('/images/index/background-image-darker.png');"><!-- three columns, paralax background (paralaxbg) -->
<div class="contentwrapper">
	<h1 style="text-align:center">Today's projects</h1>
	<h2 style="text-align:center"> and a small subheading with some more random bonus text</h2>
</div>
<div class="contentwrapper-3c">
	<div class="threecolumn">
		<h2>Sample header 1</h2>
		<p>I know words. I have the best words. You have so many different things placeholder text has to be able to do, and I don't believe Lorem Ipsum has the stamina. I have a 10 year old son. He has words. He is so good with these words it's unbelievable. He’s not a word hero. He’s a word hero because he was captured. I like text that wasn’t captured.</p>
		<a class="largelink">Read more...</a>
	</div>
	<div class="threecolumn">
		<h2>Our History</h2>
		<div class="pseudorow">
			<p>2016</p>
			<p>Category 1</p>
			<p style="margin-left:auto">We opened up</p>
		</div>
		<div class="pseudorow">
			<p>2017</p>
			<p>Category two</p>
			<p style="margin-left:auto">Fun things happened</p>
		</div>
		<div class="pseudorow">
			<p>2017</p>
			<p>Category 1</p>
			<p style="margin-left:auto">Monkey got preggo</p>
		</div>
		<div class="pseudorow">
			<p>2017</p>
			<p>Category three</p>
			<p style="margin-left:auto">Airman got preggo</p>
		</div>
		<div class="pseudorow">
			<p>2017</p>
			<p>Category 1</p>
			<p style="margin-left:auto">Plaxus made CEO</p>
		</div>
		<a class="largelink">Read more...</a>
	</div>
	<div class="threecolumn">
		<h2>Sample header 3</h2>
		<p>I’m the best thing that ever happened to placeholder text. I have a 10 year old son. He has words. He is so good with these words it's unbelievable.</p>
		<a class="largelink">Read more...</a>
	</div>
</div>
<div class="contentwrapper">
	<h2 style="text-align:center"> Feel free to add another one whenever!</h2>
</div>
</section>
