@{
    ViewData["Title"] = "Main Page";
}

Hello!
<br>Welcome to the Frenetic LLC website.
<br>
<br>This website is under-development!
<br>
<br>If you're new here or unfamiliar with Frenetic LLC, click <a href="/Home/About">here to learn about us</a>!
<br>To speak to us, click <a href="https://discord.gg/NezPEmd">here to join our Discord chat room</a>!
<br>To learn about our in-progress projects, click <a href="https://github.com/FreneticLLC">here to see our GitHub page</a>!
<br>If you like tweeting, click <a href="https://twitter.com/FreneticLLC">here to see our Twitter</a>! Be sure to follow!
