@{
    ViewData["Title"] = "Policy";
}

<section class="section-main whitebg" id="section2">
<div class="contentwrapper">
Hey! Neither this website nor our company at this time collect any information from you or anyone. Browse freely!
</div>
</section>
