@{
    ViewData["Title"] = "Standards and Operating Procedures";
}

<section class="section-main whitebg" id="section2">
<div class="contentwrapper">
Frenetic LLC, in the interest of being public and open, has published its <b>Standards and Operating Procedures</b> document below.
<br>This document is intended to be followed by the Frenetic LLC team during any and all official business.
<br>
<pre class="pre_wrapped"><code>

Frenetic LLC Standards and Operating Procedures
-----------------------------------------------

1. Abstract
-----------

This document is intended to provide a list of common standards and operating procedures to be held by the LLC, its team, its contractors, and its helpers, and how they should operate on a normal basis.
This document was initially constructed May 2017 by Alex Goodwin on behalf of Frenetic LLC.

2. When This Applies
--------------------

When speaking or acting on behalf of or for the company, or in company-official channels and networks, it is best to follow these standards as best as possible.
When interacting personally and separately from the company, the standards should be kept in mind but do not necessarily apply.

3. What To Avoid
----------------

When interacting on Frenetic channels, it is possible that a political discussion evolves from context: These should be calmed down and avoided where possible. A political argument is not the place of a representative of the company. Remember that the company keeps a minimum possible political stance, NEVER supporting any candidate or party. If a political discussion does start, it is best to either avoid it, or end it. Keep politics in the political channels, not the business channels!
It is also wise to avoid general negativity. Excluding cases where you are giving constructive criticism or enforcing rules as a moderator or administrator, negative statements (insults in particular) should be avoided. In short: if you have nothing nice to say, don't say anything. If you need to get some yelling off your chest, come talk in one of the private channels or a non-company location (such as a private message to someone caring).
Also, if someone politely asks for something potentially disruptive or unnecessary to stop, strongly consider stopping that action.
Things like this need to be decided situationally, and if you're a member of the team, you're being trusted to make these decisions to the best of your ability. If you're uncertain, ask another team member.

4. What To Encourage
--------------------

When operating on behalf of the company, encourage a positive and friendly atmosphere everywhere you go. Even if someone outside the company is being unfriendly, put on a friendly face in response and do your best to help them and anyone else out with whatever they might need.
Always accept people for things that they "just are", or are a part of their core identity. This of course excludes cases where they make that claim regarding something dangerous to themselves or others, which should be discouraged or prohibited (case-by-case basis).
Always do your best to act generally professional and dignified.
Whenever a course of action is not 100% clear, discuss it with the team! The team should always be ready to discuss topics brought up by other team members.

5. Who To Trust
---------------

The owners of the LLC have their own rule-set on how to run the business: trust them to do their job, and prod them politely if something needs dealing with.
Any owner of the company will be friendly and helpful towards any trouble you're having, so feel free to contact them at any time if you feel the need to discuss something.
The team in general is trusted by the owners to also be operating reasonably and acting in a way as described by this document. They should be trustworthy on most issues.

6. Dealing With Situations
--------------------------

If a problem arises and must be dealt with, do so politely, with a friendly face, and do your best to have the problem dealt with in a way that is best for everyone.
For example, if a user is being disruptive and you have clear reason to ban them from a chat channel, do so calmly, and be prepared to explain the reasons for the action taken to either the public or to other members of the team.
Remember: If unsure how best to deal with something, talk to the team about it!

7. As A Company
---------------

We have a variety of standards for the company in general that do not necessarily apply to a single person as well.
We must strive to be open and friendly to the public.
We must ensure as much of our actions as possible are available to the public (Referring in particular to business decisions and things we're developing, not to minute or private details like finances).

8. Specifics: Code Developers
-----------------------------

Our code developers should hold both themselves and their code to the highest possible standard.
Code written in our company should be clean, clear, effective, and efficient: It should be easy to understand how our code works (including good comments and documentation!), it should accomplish goals very well, and it should do so in a computation-efficient manner.
Code should be reviewed wherever possible by other developers, to ensure maximum quality.

9. Specifics: Design
--------------------

Our designs, in particular for how things are to be coded, should also be held to a very high standard.
Our designs should lead to an amazing quality user experience for everyone, as well as powerful and capable internal backings.
Designs should be a team effort wherever possible, not simply one designer putting a complex system together.

10. Specifics: Accounting And Finances
--------------------------------------

All monetary exchanges with the company's money should be logged in the company's primary records.
This must be done very soon after the exchange of money is confirmed as having actually happened.
Any monetary exchanges with the company's money should of course be approved by the ownership of the company, according to their own rules described in the private ownership documents.

11. Company Organizational Structure
------------------------------------

(Note: This section particularly subject to change!)
At the top of Frenetic LLC is the CEO (Chief Executive Officer).
Operating below and/or alongside the CEO is the COO (Chief Operating Officer).
The above are the owners of the company.
Below the owners are any employees, followed by any contractors.
We also have a large team of non-contracted helpers, who are worth mentioning but are not necessarily part of this organizational structure description.

12. Specific Project Organization Structure
-------------------------------------------

Any given project within the company has its own localized organizational structure.
All projects will have their own project leader or leaders. Generally one, two, or three project leaders.
Operating below the project leaders are the specific area leaders. Specific areas include Code Development, Design, Artwork, and whatever else may be deemed significant enough to a project to require a specific leader and follower group.
Below the specific area leaders are the workers for that area. The leaders and the workers both do actual work on that area, but the workers must follow the leader's setup and plans for how that area should be worked upon.
At any time, a project leader may override the decision of a specific area leader, and further a company owner may override a project leader.
Operating below the workers at times there will be outside contributors: People not directly working on the project who offer temporary short-term help. They may not even necessarily be on the Frenetic team.
The contributions of outsiders are only accepted into the main project after careful review of the contribution, and assurance that the submitted data is legally within the rights of Frenetic LLC to take control of.

13. New Projects
----------------

Before taking on a new project, we must be sure it is worthwhile.
In particular, we must ensure:
- It is something that people would use.
- It is not *too* similar to another project (including other projects by third parties).
- We have a clear idea of who would be leading and working on the project, and those leaders and workers do not already have a lot to do.
- It is within our capabilities to create.

14. Developing A Project
------------------------

When we are developing a project, we must hold it to a high standard while still giving it room to ensure it can be created safely.
The goal of a project is to eventually release it commercially, while maintaining public happiness regarding our work.
All our general standards, especially the "specifics:" sections, must be followed during any project's development.

</code></pre>

</div>
</section>
