/* Frenetic LLC Website general stylesheet */
html {
    background-color: #CCDDCC;
    overflow: auto;
}
a:link {
    color: #FF9900;
}
a:visited {
    color: #FF5500;
}
a:hover {
    color: #AA3300;
}
.header {
    margin-top: 0px;
    top: 0px;
    background-color: #CCDDCC;
    background-image: url("/images/backdrops/green_tiles.png");
    position: fixed;
    width: 100%;
    overflow: hidden;
    height: 125px;
    border-bottom: 1px solid #FF1100;
    left: 0px;
    min-width: 800px;
}
.block {
    position: relative;
    display: inline-block;
}
.mainbody {
    margin-top: 125px;
    position: absolute;
    min-width: 800px;
}
.bottombar_img {
    height: 25px;
}
table {
    border: 1px solid #000000;
}
table tr {
    border: 1px solid #000000;
}
table tr th {
    border: 1px solid #000000;
}
table tr td {
    border: 1px solid #000000;
}
